<aside class="ls-sidebar">
  <nav class="ls-menu">
    <ul>
      <li class="ls-submenu">
        <a class="ls-ico-cog" href="">  Configurações </a>
        <ul>
          <%= link_to 'Cadastro de Usuário', users_path, class: "ls-ico-user-add" if can? :manage, User %>
        </ul>
        <ul>
          <%= link_to 'Cadastro de Role', roles_path, class: "ls-ico-flag" if can? :manage, Role %>
        </ul>
        <ul>
          <%= link_to 'Cadastro de Repositórios', repositories_path, class: "ls-ico-flag" if can? :manage, Role %>
        </ul>
      </li>
    </ul>
  </nav>
</aside>


